#drum-machine {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15% repeat(3, 1fr) 15%;
  grid-template-areas:
    "display display display"
    "drum-pad drum-pad drum-pad"
    "drum-pad drum-pad drum-pad"
    "drum-pad drum-pad drum-pad"
    "drum-logo piano-logo ukulele-logo";
}
